<div class="slider fullscreen">
    <ul class="slides">
        <li>
            <img src="http://localhost/content/pic2-min.jpg"> <!-- random image -->
            <div class="caption left-align">
                <h2 class="white-text text-darken-1" style="font-weight: 400">Styles-N-Scripts!</h2>
                <h4 class="light white-text  text-darken-3">Design and develop YOUR Websites!</h4>
            </div>
        </li>
        <li>
            <img src="http://localhost/content/pic4-min.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h2 class="black-text text-lighten-1" style="font-weight: 400">Styles-N-Scripts!</h2>
                <h4 class="light black-text text-darken-3">Mobile Applications for YOU</h4>
            </div>
        </li>
        <li>
            <img src="http://localhost/content/pic1-min.jpg"> <!-- random image -->
            <div class="caption right-align">
                <h2 class=" black-text text-darken-5" style="font-weight: 400">Styles-N-Scripts!</h2>
                <h4 class="light black-text text-darken-5">YOUR Responsive Web Applications.</h4>
            </div>
        </li>
        <li>
            <img src="http://localhost/content/pic5-min.jpg"> <!-- random image -->
            <div class="caption center-align">
                <h2 class="black-text text-lighten-1" style="font-weight: 400">Its all about YOUR <span style="font-family: fantasy; font-style: italic">Style</span><span> and </span><span>our Scripts</span></h2>
                <h4 class="light black-text text-darken-3"></h4>
            </div>
        </li>
    </ul>
</div>